{% extends "blog/base.html" %}
{% load static %}
{% block title %}Contact | BlogSphere{% endblock %}

{% block content %}
    <h1>Contactez-nous</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="message">Message :</label><br>
        <textarea id="message" name="message" rows="5" required></textarea><br><br>

        <button type="submit">Envoyer</button>
    </form>
{% endblock %}
